p{
   color: #404040;
}

#home-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 320px;
    margin-top: 70px;
    padding: 30px 65px;
}

#home-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 50px;
    border-top: 1px solid #efefef;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-width: 950px;
}

#home-logo-container{
    display: flex;
    align-items: center;
}

#home-logo-graphic::before {
    color: rgb(77, 94, 179);
    font-family: "Ionicons";
    content: "\f2b6";
    font-size: 4.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#home-logo-graphic {
    margin-right: 8px;
    margin-top: 25px;
}

#home-logo{
    font-size: 3em;
    color: rgb(77, 94, 179);
    margin: 25px 0 0 0;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#home-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 45px;
    box-sizing: border-box;
    color: rgb(100,100,100);
}

#header{
    font-size: 1.75em;
    margin: 0;
}

.sub-header{
    margin: 0;
    text-align: center;
}

.home-text{
    padding: 0 25px;
}

#home-info{
    margin: 0 7px;
    font-size: 1em;
    color: rgb(77, 94, 179);
}

#home-rules {
    margin: 0 7px;
    font-size: 1em;
    color: rgb(77, 94, 179);
}

#home-people {
    margin: 0 7px;
    font-size: 1em;
    color: rgb(77, 94, 179);
}

#home-thanks{
    text-align: end;
}

#footer{
    font-size: 1em;
    margin: 0;
    margin-top: 15px;
}